@{
  Layout= "_Layout";
}

@using TreatStore.Models;
@model IEnumerable<TreatStore.Models.Flavor>

<h1>Flavors</h1>

<div class="list-grid">
  @if (Model.Any())
  {
    <div class="content-card">
      @foreach(Flavor flavor in Model)
      {
        <p>@Html.ActionLink($"{flavor.Name}", "Details", new {id=flavor.FlavorId})</p>
      }
    </div>
  }
  else
  {
    <h3>everything is pretty mild right now...</h3>
  }
</div>

<p>@Html.ActionLink("Add a Flavor", "Create")</p>
