@{
  Layout= "_Layout";
}

@using TreatStore.Models;
@model IEnumerable<TreatStore.Models.Flavor>

<h1>Flavors</h1>

<div class="list-grid">
  @if (Model.Any())
  {
      @foreach(Flavor flavor in Model)
      {
        <div class="content-card">
          <h3>@Html.ActionLink($"{flavor.Name}", "Details", new {id=flavor.FlavorId})</h3>
        </div>
      }
  }
  else
  {
    <div class="content-card">
      <h3>everything is pretty mild right now...</h3>
    </div>
  }
</div>

<p>@Html.ActionLink("Add a Flavor", "Create")</p>
