@{
  Layout = "_Layout";
}
<h1>Home Page</h1>

<p>@Html.ActionLink("Account", "Index", "Account")</p>
<p>@Html.ActionLink("Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
