@{
  Layout= "_Layout";
}

@using TreatStore.Models;
@model IEnumerable<TreatStore.Models.Treat>

<h1>Treats Too Sweet</h1>

@if (Model.Any())
{
  @foreach(Treat treat in Model)
  {
    <p>@Html.ActionLink($"{treat.Name}", "Details", new {id=treat.TreatId})</p>
  }
}
else
{
  <h3> Nothing has come out of the oven yet...</h3>
}

<p>@Html.ActionLink("Add a treat", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>