<div class="navbar-div">
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Account", "Index", "Account")
    @Html.ActionLink("Treats", "Index", "Treats")
    @Html.ActionLink("Flavors", "Index", "Flavors")
</div>